.pagination {
  list-style: none;
  display: flex;
  margin-top: 30px;

  li {
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    margin-right: 15px;
    transition: ease all 0.3s;

    &.active {
      background-color: #fe5f1e;
      color: white;
    }

    &:hover {
      background-color: #fe5f1e;
      color: white;
    }

    &:last-child {
      margin: 0;
    }
  }
}
