@import "../variables";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
  }

  &__cart {
    margin-left: auto;
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 20px 0;

    .container {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 15px;
    }

    &__cart {
      margin-left: 0;
    }
  }
}
