@import "../variables";

.pizza-block {
  width: 280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    width: auto;

    .pizza-block__image {
      width: 100%;
      max-height: 260px;
    }
  }

  &__image {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;
  }

  &__list {
    display: flex;
    flex: 1;

    &:first-of-type {
      margin-bottom: 6px;
    }

    &-btn {
      padding: 8px;
      flex: 1;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
      @include noselect();
      border: none;
      transition: ease all 0.3s;

      &.active {
        background: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        cursor: auto;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
