@import "../variables";

.sort {
  position: relative;

  &__label {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      font-size: 14px;

      b {
        display: none;
      }
    }

    svg {
      margin-right: 8px;
      transform: rotate(180deg);
      transition: ease all 0.3s;

      &.active {
        transform: rotate(0);
      }
    }

    b {
      margin-right: 8px;
      white-space: nowrap;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
      white-space: nowrap;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    ul {
      overflow: hidden;

      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
