.root {
  margin-left: 30px;
  position: relative;

  input {
    border: 1px solid rgba(#000000, 0.1);
    border-radius: 10px;
    width: 300px;
    padding: 10px 24px;
    font-size: 14px;

    &:focus {
      border-color: rgba(#000000, 0.3);
    }
  }
}

.close {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 10px;
  right: 12px;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .root {
    margin-left: 0;

    input {
      width: 100%;
    }
  }
}
