@import "./variables";
@import "./libs/normalize";

@import "./components/all";

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;

  @media screen and (max-width: 767px) {
    margin: 15px;
    width: auto;
  }
}

.content {
  padding: 40px 0;

  &__error {
    margin: 130px auto;
    max-width: 500px;
    text-align: center;

    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      font-size: 24px;
    }
  }

  &__title {
    margin: 35px 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 65px 3.3%;

    @media screen and (max-width: 1440px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 1279px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 40px 0;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1023px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      row-gap: 25px;
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    max-width: 820px;
    margin: 90px auto;

    .content__title {
      margin: 0;
    }

    @media screen and (max-width: 767px) {
      margin: 0 auto;
    }
  }
}

.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: block;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;

      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();

    span {
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }

      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  &__item {
    display: flex;
    width: 100%;
    border-top: 1px solid $gray-line;
    padding-top: 30px;
    margin-top: 30px;

    &-img {
      display: flex;
      align-items: center;
      margin-right: 15px;
      width: 10%;

      img {
        width: 80px;
        height: 80px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
      }

      p {
        font-size: 18px;
        color: #8d8d8d;
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 13%;

      &-minus {
        svg {
          path:first-of-type {
            display: none;
          }
        }

        &:disabled {
          border-color: #dddddd;
          opacity: 0.7;

          path {
            fill: #dddddd;
          }

          &:hover {
            background-color: transparent;
            cursor: unset;

            path {
              fill: #dddddd;
            }
          }
        }
      }

      b {
        font-size: 22px;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;

      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;
      }
    }

    &-remove {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 4%;

      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: $gray-line, $amount: 15);
        }
      }

      .button {
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }

        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 50px 0;

    &-details {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 22px;

        &:last-of-type {
          b {
            color: $orange;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;

        border-color: darken($color: $gray-line, $amount: 10);

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 500;
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: 12px;

          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    &__top {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 15px;
    }

    &__item {
      flex-direction: column;
      align-items: center;
      text-align: center;

      &-img {
        margin: 0 0 15px 0;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &-info {
        width: 100%;
        row-gap: 15px;
        margin-bottom: 15px;
      }

      &-count {
        width: 40%;
        margin-bottom: 15px;
      }

      &-price {
        margin-bottom: 15px;
      }

      &-remove {
        width: auto;
      }
    }

    &__bottom {
      &-details {
        flex-direction: column;
        row-gap: 10px;
      }

      &-buttons {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
      }
    }
  }

  &--empty {
    margin: 35px auto;
    width: 560px;
    text-align: center;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }

    @media screen and (max-width: 767px) {
      max-width: 90%;
      width: 100%;
      margin: 0 auto;

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
      }

      img {
        max-width: 100%;
      }
    }
  }
}

.pizza-page {
  h1 {
    margin-bottom: 15px;
  }

  &__price {
    margin-bottom: 15px;
  }

  img {
    max-width: 100%;
    margin-bottom: 15px;
  }

  @media screen and (max-width: 767px) {
    h1 {
      font-size: 24px;
    }
  }
}
